/* Reset og border-box á allt */
* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* 						font						 */

/* logo font er Lora, 700 */
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-display: swap;
	src: url(./fonts/Lora/Lora-VariableFont_wght.ttf);
}

/* restin er Lato 400 */
@font-face {
	font-family: "Lato";
	src: url(./fonts/Lato/Lato-Regular.ttf);
}


/* 						settings 						*/
:root {
	/* sizes */
	--offset: 15px;
	--border_radius: 5px;
	--border_size: 1px;
	--gap_size: 30px;
	--font_size: 16px;
	--spacing: 1rem;
	--logo_gap: 10px;
	--columns: 12;
	--site_max_width: 1440px;
	--grid-column-width: calc((100% / var(--columns)) - var(--gap_size));

	/* colors */
	--latte: #e1cec2;
	--dark-brown: #3c2a1e;
	--brown: #6f4e37;
	--white: #ffffff;
	--light: #FEFEFE;
	--top-grey: #ecebec;
	--top-grey2: #f2f1f3;

	/* fonts */
	--font-base-size: 1rem;
	--font-family-base: 'Lato', sans-serif;
	--font-family-logo: 'Lora', serif;
}




/* 						global						 */

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: var(--border_size);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: var(--border_size);
}

html,
input,
select,
button {
	font-family: var(--font-family-base);
}

li {
	font-size: var(--font_size);
	list-style: none;
}





img {
	width: 100%;
}





/* 				grid containter 				*/

.top2bottom {
	display: grid;
	grid-template-areas:
		"top"
		"middle"
		"bottom";
	grid-template-columns: 1fr;
	grid-template-rows: auto auto minmax(0, 270px);
	align-items: center;
	padding: 0 0;
	justify-items: center;
	align-items: flex-end;
	justify-content: center;
}

.grid_container {
	opacity: 1;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
    
	gap: 30px;
	align-items: center;
	max-width: 1410px;
	grid-column-end: span 1;
	isolation: isolate;
	width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	text-overflow: ellipsis;

}


/*First Row*/

.section-one div:nth-child(1){
    grid-column: span 6;
    height: 486px; 
    border: solid;
}
.section-one div:nth-child(1) > img{
    height: auto;
}
.row-one-part-2{
    grid-column: span 6;

    border: solid;
       
 
    
}

