.link_menu .top2bottom {
	grid-template-rows: 60px auto auto;
	align-items: center;
}

.link_menu .logo {
	grid-column-end: span 5;
}

.link_menu .bottom {
	background-color: white;
}

.link_menu .searchbar {
	grid-column-end: span 12;
	padding: 1em 0;
}

.link_menu .link_menu_button {
	display: flex;
	width: 28px;
	height: 20px;
	grid-column-start: 12;
	overflow: hidden;
	justify-self: end;
}

.link_menu .shopping_cart {
	grid-column-start: 11;
	justify-self: end;
}

.link_menu .bottom .grid_container {
	padding: 0;
}

.menu_box {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 0.5em;
}

.menu_box li {
	font-size: 60px;
	font-weight: 400;
	line-height: 110px;
	letter-spacing: 0em;
	text-align: center;
}

.link_menu nav {
	margin: 0.5em 0 0 0;
	width: auto;
	height: auto;
	align-items: center;
	display: flex;
	justify-content: center;
}

.title_products {
	width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
}

.site_name {
	font-size: 60px;
	width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
	height: fit-content;
}

.cart_items {
	grid-column-end: span 6;
}

.order_box {
	grid-column-end: span 6;
	border: none;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: var(--gap_size);
}

.line_between {
	grid-column-end: span 6;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, auto);
	gap: 0;
}

.line_between li:nth-last-child(-n+1) {
	border: none;
}

.line_between .order_box {
	grid-column-end: span 1;
	padding: 1em 0;
	border-bottom: var(--latte) 1px solid;
	margin: 0;
	gap: 0 var(--gap_size);
}

.order_box img {
	height: 84px;
	width: 90px;
	grid-column-start: 1;
	object-position: top;
	max-height: 400px;
}

.order_box a {
	grid-column-end: span 3;
	align-self: center;
	font-size: 1.375em;
}

.span4 {
	grid-column-end: span 4;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 0em;
}

.verd_column_12 {
	grid-column-end: span 2;
	justify-self: end;
	overflow: hidden;
	align-self: center;
	font-size: 1.375em;
}

.fieldset_heading {
	font-size: 2em;
	line-height: 3em;
	letter-spacing: 0em;
	margin: -0.5em 0 0 0;
}

.label_input_order {
	grid-column-end: span 3;
	margin: -0.5em 0 0 0;
	display: flex;
	flex-direction: column;
}

.label_input_order input {
	flex: 1;
	height: 2.5em;
	padding: 0.75em;
	border: black var(--border_size) solid;
	border-radius: var(--border_radius);
}

.label_input_order label {
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0em;
}

.order_name {
	font-size: 60px;
	line-height: 80px;
	letter-spacing: 0em;
	grid-column-end: span 12;
	padding: 0.25em 0;
	margin: 0 0 -0.5em 0;
}

.span6 {
	grid-column-end: span 6;
	position: relative;
}

.order_site .grid_container {
	align-items: start;
}

.senda_pontun {
	background-color: #6f4e37;
	padding: 0.5em;
	border: var(--border_size) var(--dark-brown) solid;
	border-radius: var(--border_radius);
	color: var(--white);
	width: fit-content;
	margin: 1em 0 2.5em 0;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0em;
}

@media (max-width: 1120px) {
	.order_box img {
		grid-column-end: span 2;
	}
	.order_box a {
		grid-column-end: span 2;
	}
}

@media (max-width: 820px) {
	.span6 {
		order: 2;
		grid-column-start: 3;
		grid-column-end: span 8;
	}
	.line_between {
		order: 1;
		grid-column-start: 3;
		grid-column-end: span 8;
	}
	.order_box a {
		grid-column-end: span 3;
	}
	.order_box img {
		grid-column-end: span 1;
	}
}

@media (max-width: 650px) {
	.span6 {
		grid-column-start: 1;
		grid-column-end: span 12;
	}
	.line_between {
		grid-column-start: 1;
		grid-column-end: span 12;
	}
}