

.title_products {
    width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
	font-size: 60px;
}

.site_name {
	font-size: 60px;

}

.site_sort {
	width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	padding-bottom: 30px;
}

.site_sort_list {
    display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
	padding-top: 0.3%;

}

.site_sort_name h4 {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
}

.site_sort_list button {
    background-color: var(--latte);
    border-radius: 0.2rem;
    padding-left: 0.5%;
    padding-right: 0.5%;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	border: 0;
}

.product_site {
	padding-top: 30px;
	padding-bottom: 30px;

}

.latte_fill {
	grid-column-end: span 1;
	grid-row: span 1;
	height: 100%;
	width: 100%;
	background-color: var(--latte);
}
