/* Reset og border-box á allt */

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* 						font						 */

/* logo font er Lora, 700 */
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-display: swap;
	src: url(./fonts/Lora/Lora-VariableFont_wght.ttf);
}

/* restin er Lato 400 */
@font-face {
	font-family: "Lato";
	src: url(./fonts/Lato/Lato-Regular.ttf);
}

/* 						settings 						*/

:root {
	/* sizes */
	--offset: 15px;
	--border_radius: 5px;
	--border_size: 1px;
	--gap_size: 30px;
	--font_size: 16px;
	--spacing: 1rem;
	--logo_gap: 10px;
	--columns: 12;
	--site_max_width: 1440px;
	--grid-column-width: calc((100% / var(--columns)) - var(--gap_size));

	/* colors */
	--latte: #e1cec2;
	--dark-brown: #3c2a1e;
	--brown: #6f4e37;
	--white: #ffffff;
	--light: #FEFEFE;
	--top-grey: #ecebec;
	--top-grey2: #f2f1f3;

	/* fonts */
	--font-base-size: 1rem;
	--font-family-base: 'Lato', sans-serif;
	--font-family-logo: 'Lora', serif;
}

/* 						global						 */

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: var(--border_size);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: var(--border_size);
}

html,
input,
select,
button {
	font-family: var(--font-family-base);
}

li {
	font-size: var(--font_size);
	list-style: none;
}

h1,
h2,
h3 {
	font-weight: 400;
	margin: 0 0 1rem 0;
}

a {
	color: inherit;
	background-color: inherit;
	text-decoration: none;
}


img {
	max-width: 100%;
	object-fit: cover;
}

.fontweight_normal {
	font-weight: normal;
}

.grid_span2 {
	grid-column-end: span 2;
}

/* 						box 					*/

.box_container {
	margin: 0 auto;
	max-width: var(--site_max_width);
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap_size);
	padding: var(--offset);
	grid-column-end: span 3;
}


.box {
	grid-column-end: span 3;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	flex-direction: column;
	background-color: var(--white);
	border-radius: var(--border_radius);
	overflow-wrap: anywhere;
	gap: 1rem;
}

.box button {
	background-color: white;
	padding: 0.5rem;
	border-radius: var(--border_radius);
	border: var(--brown) var(--border_size) solid;
	color: var(--dark-brown);
	font-weight: 700;
}

.box figure {
	display: inline-block;
	text-align: left;
}

.box figure figcaption h3 {
	margin: 1rem 0 0 0;
	font-size: 22px;
}

.product_tags {
	display: flex;
	flex-direction: row;
	gap: calc(2*var(--border_radius));
}

.product_tags li {
	background-color: var(--latte);
	border-radius: var(--border_radius);
	padding: var(--border_radius);
	font-size: 14px;
}

.box_transparent {
	background-color: transparent;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	color: inherit;
	flex-wrap: wrap;
	grid-column-end: span 4;
	object-fit: contain;
}

.box_transparent img {
	object-position: center;
}

.box_transparent p {
	font-size: 20px;
	margin: 0 0 1rem 0;
}

.box_transparent h2 {
	font-size: 36px;
}


.box_transparent .skoda {
	font-size: 14px;
	background-color: #6f4e37;
	padding: 1rem;
	border: var(--border_size) var(--dark-brown) solid;
	border-radius: var(--border_radius);
	color: var(--white);
	width: fit-content;
	margin: 1rem 0 0 0;
}

/* 				grid containter 				*/

.top2bottom {
	display: grid;
	grid-template-areas:
		"top"
		"middle"
		"bottom";
	grid-template-columns: 1fr;
	grid-template-rows: auto auto minmax(270px, auto);
	align-items: center;
	padding: 0 0;
	justify-items: center;
	align-items: flex-end;
	justify-content: center;
}

.grid_container {
	opacity: 1;
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: 30px;
	align-items: center;
	max-width: 1410px;
	grid-column-end: span 1;
	isolation: isolate;
	width: calc(100% - (2 * var(--offset)));
	margin: 0 auto;
	text-overflow: ellipsis;
}

/* 						top 					*/

.top_frontpage {
	display: flex;
	width: 100%;
	justify-content: center;
	grid-area: top;
	position: relative;
	grid-column-end: span 1;
}

.top_frontpage::before {
	content: "";
	position: absolute;
	inset: 0;
	opacity: 0.5;
	background-image: url("./images/Cable_Background.png");
	background-repeat: no-repeat;
	background-position: top;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
}

.top {
	display: flex;
	width: 100%;
	justify-content: center;
	grid-area: top;
	position: relative;
	grid-column-end: span 1;
}

.head {
	grid-column-end: span 12;
	text-align: center;
	text-align: center;
	margin: 5.5em 0 9.5em 0;
	word-break: break-word;
}

.head h1 {
	font-size: 10em;
	letter-spacing: -3px;
}

.head h2 {
	font-size: 2.25em;
}

/* 	Navigation bar	*/

.logo {
	grid-column-end: span 4;
}

.logo a {
	display: flex;
	align-items: center;
	gap: var(--logo_gap);
	width: fit-content;
}

.logo a svg {
	display: flex;

}

.logo a h1 {
	margin: 0;
	font-family: var(--font-family-logo);
	font-size: 2.5em;
}

.searchbar {
	grid-column-end: span 4;
	display: flex;
	align-items: center;
	height: 40px;
	margin: 10px 0;
	position: relative;
	justify-content: end;
}

.searchbar input {
	flex: 1;
	height: 2.5em;
	padding: 0.5em;
	border: black var(--border_size) solid;
	border-radius: var(--border_radius);
}

.magnify_glass {
	position: absolute;
	z-index: 1;
	margin: 0 0.5em 0 0;

}

.navigation {
	grid-column-end: span 3;
}

.navigation menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopping_cart_grid {
	display: flex;
	grid-template-columns: repeat(18, minmax(0, 1fr));
	grid-template-rows: repeat(18, minmax(0, 4px));
	width: 100%;
	align-items: center;
	justify-content: end;
}

.shopping_cart {
	width: 50px;
	height: 50px;
	grid-column-start: 12;
	justify-self: end;
}

.link_menu_button {
	display: none;
	width: 0;
	height: 0;
}

/* 						middle 					*/

.middle {
	grid-area: middle;
	grid-column-end: span 1;
	display: grid;
	min-height: 100vh;
	width: 100%;
}

.frontpage_grid_layout {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, minmax(32.5em, auto) minmax(42.125em, auto));
	object-fit: contain;
}

.white {
	justify-content: center;
	grid-column-end: span 1;
	grid-row: span 1;
	display: flex;
	align-items: center;
}

.white .grid_container {
	align-items: stretch;
}

.latte_slice {
	grid-column-end: span 1;
	grid-row: span 1;
	background-color: var(--latte);
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	justify-content: center;
}

.triangle_corner_brown_bottom {
	margin: auto 0 0 0;
	width: 0;
	height: 0;
	border-bottom: 3.5em solid var(--dark-brown);
	border-left: 100vw solid transparent;
}

.triangle_corner_top_white {
	margin: 0 0 auto 0;
	width: 0;
	height: 0;
	border-top: 3em solid white;
	border-right: 100vw solid transparent;
}

.triangle_corner_bottom_white {
	margin: auto 0 0 0;
	width: 0;
	height: 0;
	border-bottom: 3.5em solid white;
	border-left: 100vw solid transparent;
}

.dark_brown_fill {
	grid-column-end: span 1;
	grid-row: span 1;
	height: 100%;
	width: 100%;
	background-color: var(--dark-brown);
}

.column3to11 {
	grid-column-start: 3;
	grid-column-end: 11;
}

.column3to11 h2 {
	font-size: 36px;
}

/* 						bottom 					*/

.bottom {
	grid-area: bottom;
	background-color: var(--dark-brown);
	color: var(--light);
	line-height: 1.5em;
	width: 100%;
	position: relative;
	grid-template-columns: 100%;
}

.bottom .grid_container {
	align-items: start;
	padding: 2.25rem 0 0 0;
}

.footer_heading {
	padding: 2rem 0 0 0;
	margin: 0 0 -0.5rem 0;
	border-bottom: 2px var(--latte) solid;
	line-height: 1em;
	font-size: 2em;
	font-weight: 400;
}

.postscript {
	font-size: 14px;
	text-align: center;
	line-height: 2em;
	border-top: var(--border_size) var(--brown) solid;
	width: 100%;
}

/* 						scaling 				*/

@media (max-width: 1120px) {
	.top_frontpage::before {
		background-size: cover;
	}

	.shopping_cart {
		grid-column-start: 11;
		justify-self: end;
	}

	.link_menu_button {
		display: flex;
		width: 28px;
		height: 20px;
		grid-column-start: 12;
		overflow: hidden;
		justify-self: end;
	}

	.navigation {
		display: none;
	}

	.top .searchbar {
		grid-column-start: 7;
	}

	.top_frontpage .searchbar {
		grid-column-start: 7;
	}

	.box {
		grid-column-end: span 4;
	}

	.box_transparent {
		grid-column-end: span 6;
		grid-column-start: 4;
	}
	.top_frontpage .grid_container {
		gap: 0 var(--gap_size);
	}

}

@media (max-width: 820px) {
	.box {
		grid-column-end: span 5;
	}

	.latte_slice .grid_container .box:nth-child(odd) {
		grid-column-start: 2;
	}
	.product_page_grid .latte_slice .grid_container .box:nth-child(even) {
		grid-column-start: 2;
	}
	.product_page_grid .latte_slice .grid_container .box:nth-child(odd) {
		grid-column-start: auto;
	}
}

@media (max-width: 650px) {
	.triangle_corner_brown_bottom {
		display: none;
	}

	.triangle_corner_bottom_white {
		display: none;
	}

	.triangle_corner_top_white {
		display: none;
	}

	.box_transparent {
		grid-column-start: 1;
		grid-column-end: span 12;
	}

	.latte_slice {
		padding: 30px 0;
	}

	.box {
		grid-column-start: 1;
		grid-column-end: span 12;
		width: 100%;
	}

	.latte_slice .grid_container .box:nth-child(odd) {
		grid-column-start: 1;
	}

	.box figure img {
		width: 100%;
		object-fit: cover;
		object-position: center;
		max-height: 160px;
	}

	.box_transparent img {
		object-fit: cover;
	}

	.logo {
		font-size: 0.75em;
		line-height: 40px;
		letter-spacing: 0em;

	}

	.searchbar {
		display: none;
	}

	.bottom .grid_container .searchbar {
		display: flex;
	}

	.top_frontpage::before {
		background-image: url("./images/Mini_Header.png");
	}

	.top_frontpage .grid_container {
		grid-template-rows: minmax(0, 60px) minmax(0, 322px);
	}

	.head a h1 {
		font-size: 80px;
		letter-spacing: 0em;
	}

	.head a h2 {
		font-size: 36px;
		letter-spacing: 0em;
	}

	.box_transparent .skoda {
		margin: 0 auto;
	}

	.frontpage_grid_layout .white {
		padding: 0 0 30px 0;
	}

	.column3to11 {
		grid-column-end: span 12;
		grid-column-start: 1;
	}
	.product_page_grid .latte_slice .grid_container .box:nth-child(even) {
		grid-column-start: auto;
	}
}
