.paragraph{
    font-size: 20px;
    line-height: 1.6em;
}

.column3to11 .heading-nyr-class {
    font-size: 2em;
	font-weight: 400;
}

.heading-nyr-class {
    font-size: 60px;
    margin: 0;
    padding: 0;
}