.paragraph{
    font-size: 20px;
    line-height: 1.6em;
}

.vorutexti{
    font-size: 2em;
}

.column3to11 .heading_nyr_class {
    font-size: 2em;
	font-weight: 400;
}

.vorumynd_box figure figcaption h3 {
	margin: 1rem 0 0 0;
	font-size: 22px;
}

.vorumynd_box figure figcaption h3 {
	margin: 1rem 0 0 0;
	font-size: 22px;
}

.heading_nyr_class {
    font-size: 60px;
    margin: 0;
    padding: 0;
}