/* 						font						 */

/* logo font er Lora, 700 */
@font-face {
    font-family: "Lora";
    font-style: normal;
    font-display: swap;
    src: url(./fonts/Lora/Lora-VariableFont_wght.ttf);
}

/* restin er Lato 400 */
@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato/Lato-Regular.ttf);
}