.link-menu .top2bottom {
    grid-template-rows: 60px auto auto;
    align-items: center;
}

.link-menu .logo {
    grid-column-end: span 5;
}

.link-menu .bottom {
    background-color: #fff;
}

.link-menu .searchbar {
    grid-column-end: span 12;
    padding: 1em 0;
}

.link-menu .link-menu-button {
    display: flex;
    width: 28px;
    height: 20px;
    grid-column-start: 12;
    overflow: hidden;
    justify-self: end;
}

.link-menu .shopping-cart {
    grid-column-start: 11;
    justify-self: end;
}

.link-menu .bottom .grid-container {
    padding: 0;
}

.menu-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 0.5em;
}

.menu-box li {
    font-size: 60px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0;
    text-align: center;
}

.link-menu nav {
    margin: 0.5em 0 0;
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}