/* fara yfir */
.menu_box {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 0.5em;
}

.menu_box li {
	font-size: 60px;
	font-weight: 400;
	line-height: 110px;
	letter-spacing: 0em;
	text-align: center;
}