.title-products {
    grid-column-end: span 12;
    font-size: 60px;
    padding: 1% 0% 0%;
}

// .site-name {
//     font-size: 60px;
//     width: calc(100% - (2 * var(--offset)));
//     margin: 0 auto;
//     padding: 2% 0% 2% 0%;
//     height: fit-content;
// }

.cart-items {
    grid-column-end: span 6;
}

.order-box {
    grid-column-end: span 6;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--gap-size);
}

.line-between {
    grid-column-end: span 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 0;
}

.line-between li:nth-last-child(-n + 1) {
    border: none;
}

.line-between .order-box {
    grid-column-end: span 1;
    padding: 1em 0;
    border-bottom: var(--latte) 1px solid;
    margin: 0;
    gap: 0 var(--gap-size);
}

.order-box img {
    height: 84px;
    width: 90px;
    grid-column-start: 1;
    object-position: top;
    max-height: 400px;
}

.order-box a {
    grid-column-end: span 3;
    align-self: center;
    font-size: 1.375em;
}

.span4 {
    grid-column-end: span 4;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0;
}

.verd-column-12 {
    grid-column-end: span 2;
    justify-self: end;
    overflow: hidden;
    align-self: center;
    font-size: 1.375em;
}

.fieldset-heading {
    font-size: 2em;
    line-height: 3em;
    letter-spacing: 0;
    margin: -0.5em 0 0;
}

.label-input-order {
    grid-column-end: span 3;
    margin: -0.5em 0 0;
    display: flex;
    flex-direction: column;
}

.label-input-order input {
    flex: 1;
    height: 2.5em;
    padding: 0.75em;
    border: #000 var(--border-size) solid;
    border-radius: var(--border-radius);
}

.label-input-order label {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
}

.order-name {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0;
    grid-column-end: span 12;
    padding: 0.25em 0;
    margin: 0 0 -0.5em;
}

.span6 {
    grid-column-end: span 6;
    position: relative;
}

.order-site .grid-container {
    align-items: start;
}

.senda-pontun {
    background-color: #6f4e37;
    padding: 0.5em;
    border: var(--border-size) var(--dark-brown) solid;
    border-radius: var(--border-radius);
    color: var(--white);
    width: fit-content;
    margin: 1em 0 2.5em;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
}