.product_tags {
	display: flex;
	flex-direction: row;
	gap: calc(2*var(--border_radius));
}

.product_tags li {
	background-color: var(--latte);
	border-radius: var(--border_radius);
	padding: var(--border_radius);
	font-size: 14px;
}

.column3to11 .heading_nyr_class {
    font-size: 2em;
    font-weight: 400;
}
