.product-tags {
	display: flex;
	flex-direction: row;
	gap: calc(2*var(--border-radius));
}

.product-tags li {
	background-color: var(--latte);
	border-radius: var(--border-radius);
	padding: var(--border-radius);
	font-size: 14px;
}

.column3to11 .heading-nyr-class {
    font-size: 2em;
    font-weight: 400;
}
