/* 						settings 						*/

:root {
    /* sizes */
    --offset: 15px;
    --border_radius: 5px;
    --border_size: 1px;
    --gap_size: 30px;
    --font_size: 16px;
    --spacing: 1rem;
    --logo_gap: 10px;
    --columns: 12;
    --site_max_width: 1440px;
    --grid-column-width: calc((100% / var(--columns)) - var(--gap_size));

    /* colors */
    --latte: #e1cec2;
    --dark-brown: #3c2a1e;
    --brown: #6f4e37;
    --white: #ffffff;
    --light: #FEFEFE;
    --top-grey: #ecebec;
    --top-grey2: #f2f1f3;

    /* fonts */
    --font-base-size: 1rem;
    --font-family-base: 'Lato', sans-serif;
    --font-family-logo: 'Lora', serif;
}